html, body {
    position: relative;
    height: 100%;
  }
  body {
    background: #000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  .swiper-container {
    margin-left: 5%;
    margin-right: 5%;
    height: 300px;
    
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .gallery-top {
    height: 65%;
    padding-top:10px;
  }
  .gallery-thumbs {
    height: 15%;
    box-sizing: border-box;
    padding: 10px 0;
    
  }
  .gallery-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
